-
    var awardHeader = '#awards'
    var award  = {
         title: 'something',
         description: 'something',
         location: 'something',
         date: 'something'
    }; 

#award
.award
    //- trophy to title
    //- info to description
    //- map2 to location
    //- calendar to date
    .award__header=awardHeader
    .award__card
        award.icon
            span.my-cv__icon--trophy
        .award__title=award.title

        award.icon
            span.my-cv__icon--info
        .award__description=award.description
        .award__location=award.location
        .award__date=award.date

