-
    var awardHeader = '#awards'
    var award  = {
         title: 'something',
         description: 'something',
         location: 'something',
         date: 'something'
    }; 

#award
.award
    .award__header=awardHeader
    .award__card
        .award__title=title
        .award__description=description
        .award__location=location
        .award__date=date

