//- //- model, data
-
    var header = '#experience'
    var experienceList = [
        {
            title: 'Starter in Web Development',
            date: '11 March 2018 - present',
            company: 'Codetap',
            responsabilityList: [
                'Watching video tutorials and learn to code',
                'Looking for new students',
                'Marketing and Social Media Administrator',
                'I manage the marketing and Social Media for Codetap'
            ]
        },
        {
            title: 'First Line Manager',
            company: 'HotelCare/Mercure London Bridge',
            date: '2018 - 2019',
            responsabilityList: [
                `I've checked rooms and manage people on the floors`,
                `I was happy to create the best working mood ever to increase productivity by 500%`,
                `I've achieved perfect client smile with a score of 100% satisfaction`
            ]
        },
        {
            title: 'Guest Relations',
            company: 'AirBnb',
            date: '2018 - present',
            responsabilityList: [
                `Preparing the itinerary for the driver and check properties before arrival`,
                `I did different guides for guests, about how to use different things in the properties`,
            ]
        },
        {
            title: 'First Line Manager',
            company: 'Amba Marble Arch Hotel',
            date: 'August-2018-September',
            responsabilityList: [
                `Inspect rooms and coordinate people on the floors`,
                `Attend meetings everyday`,
                `Communicate with other departments`
            ]
        }
    ];

//- //- view, presentation
//- //- CSS "+" checked
#experience
.experience
    .experience__header=header
    input.experience__input(type="radio", name="same-name", id="experience-default")

    each experience, key in experienceList
        input.experience__input(type="radio", name="my-experience", id=`experience-id-${key}`)
        label.experience__title(for=`experience-id-${key}`)
            | #{experience.title}
            label(for="experience-default")
                span.my-cv__icon--plus
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experince__list
                each responsability in experience.responsabilityList
                    .experience__responsability=responsability